# Python data structures and boolean
- Boolean
- Boolean and logical operators
- Lists
- Comparison operator
- Dictionaries
- Tuple
- Sets

## Boolean

In [1]:
print(True)

True

In [2]:
type(True)

bool

In [3]:
a = True
print(not a)

False

### Prime number

In [16]:
num = int(input("Enter your number: "))
i = 2
count = 0
while i <= num/2:
    if num % i == 0:
        count = 1
        break
    i = i + 1
if count==0:
    print('{} is a prime number'.format(num))
else:
    print('{} is not a prime number'.format(num))

Enter your number: 4
4 is not a prime number

In [17]:
my_name='kavita chaubey'

In [26]:
print(my_name.isalnum())
print(my_name.isalpha())
print(my_name.isdigit())
print(my_name.istitle())
print(my_name.isupper())
print(my_name.islower())
print(my_name.isspace())
print(my_name.endswith('y'))     #important endswith
print(my_name.startswith('k'))   #important startswith

False
False
False
False
False
True
False
True
True

## Boolean and logical operators

In [27]:
True and True

True

In [28]:
True and False

False

In [29]:
True or False

True

In [30]:
not False

True

In [31]:
not True

False

In [32]:
my_num = 'hello world'
my_self = 'kavita'

In [33]:
my_num.isalnum() or my_self.isalpha()

True

# Lists
### A list is a data structure in python that is mutable,or changable, ordered sequence of element

In [34]:
type([])

list

In [36]:
lst = list()
type(lst)

list

In [37]:
lists = ['potato','onion','cabbage','tomato']
print(lists)

['potato', 'onion', 'cabbage', 'tomato']

In [38]:
type(lists)

list

### Append in list -- adding the element in the end of list

In [39]:
lists = ['kavita', '2100884090', 'ignou']
lists.append('BCA')

In [40]:
print(lists)

['kavita', '2100884090', 'ignou', 'BCA']

In [55]:
# lists.append(['haldwani','uttrakhand'])
# print(lists)"

In [51]:
lists.index('BCA')

4

In [46]:
lists[1:3]

['chaubey', '2100884090']

In [47]:
lists[1:]

['2100884090', 'ignou', 'BCA']

### Insert -- insert in specific order

In [44]:
lists.insert(1,'chaubey')

In [56]:
print(lists)

['kavita', 'chaubey', '2100884090', 'ignou', 'BCA', ['haldwani', 'uttrakhand'], ['haldwani', 'uttrakhand'], ['haldwani', 'uttrakhand']]

In [59]:
lists.remove(['haldwani','uttrakhand'])

In [60]:
print(lists)

['kavita', 'chaubey', '2100884090', 'ignou', 'BCA', ['haldwani', 'uttrakhand']]

### Extend Method

In [2]:
lst = [1,2,3,4,5]

In [6]:
lst.insert(2,5)
print(lst)

[1, 5, 5, 2, 5, 5, 3, 4, 5]

In [62]:
int(lst.extend([6,7]))

In [80]:
lst

[1, 2, 3, 4, 5, '6', '7']

### Various operation that we can perform in list

In [77]:
num=[1,3,4,5,6,7]

In [78]:
sum(num)

26

In [95]:
num*2     #print it 2 times

[1, 4, 5, 6, 1, 4, 5, 6]

### pop() method -- remove the last element of list

In [81]:
num.pop()

7

In [82]:
num.pop(1)

3

In [83]:
num

[1, 4, 5, 6]

### Inbuilt Function

In [84]:
number = [1,1,1,2,3,4]
number.count(1)

3

In [85]:
len(number)

6

In [92]:
number.index(2,1,4)  #value to check,start from,end at

3

In [93]:
min(number)

1

In [94]:
max(number)

4

# Sets --
## unordered collection of data type that is iterable, mutable and have no duplicate elements.

In [1]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [5]:
ironman = "tony stark"
set_name = {'spiderman','antman','captain america',ironman,'tony stark'}
print(set_name)

{'tony stark', 'antman', 'captain america', 'spiderman'}

In [6]:
#we can't do indexing in sets 
# example = set_name[0] , set_name.index('antman')

### Inbuilt function in sets
### add, remove, union, update, intersection, difference, intersection_update(), clear, etc.

In [7]:
set_ironman = {'spiderman','natasha','hulk','thor'}
set_captain = {'natasha','hulk','thor','black panther'}

In [8]:
set_ironman.add('doctor strange')
print(set_ironman)

{'natasha', 'thor', 'hulk', 'spiderman', 'doctor strange'}

In [9]:
set_ironman.remove('thor')
print(set_ironman)

{'natasha', 'hulk', 'spiderman', 'doctor strange'}

In [10]:
set3 = set_ironman.union(set_captain)
print(set3)

{'natasha', 'thor', 'hulk', 'black panther', 'spiderman', 'doctor strange'}

In [25]:
print(set_ironman.intersection(set_captain))

{'natasha', 'hulk'}

In [33]:
print(set_ironman.difference(set_captain))

set()

In [34]:
set_ironman.intersection_update(set_captain)

In [32]:
set_ironman

{'hulk', 'natasha'}

In [ ]:
set_ironman.difference_update(set_captain)

In [30]:
set_ironman

{'hulk', 'natasha'}

In [38]:
set_captain.clear()
set_captain

set()

In [39]:
set_captain

set()

# Dictionaries 
## collection of unordered data type which are changeable and indexed.

In [40]:
dic = {}
type(dic)

dict

In [42]:
type(dict())

dict

In [46]:
dic_car ={'car1':'audi','car2':'bmw','car3':'marcedes'}
dic_car

{'car1': 'audi', 'car2': 'bmw', 'car3': 'marcedes'}

In [55]:
dic_car['car1']

'audi'

In [47]:
for car in dic_car:
    print(car)

car1
car2
car3

In [50]:
for cars in dic_car.values():
    print(cars)

audi
bmw
marcedes

In [52]:
for all_cars in dic_car.items():
    print(all_cars)

('car1', 'audi')
('car2', 'bmw')
('car3', 'marcedes')

In [56]:
dic_car['car4'] = 'supra'
dic_car

{'car1': 'audi', 'car2': 'bmw', 'car3': 'marcedes', 'car4': 'supra'}

In [57]:
dic_car['car2']= 'defender'
dic_car

{'car1': 'audi', 'car2': 'defender', 'car3': 'marcedes', 'car4': 'supra'}

## Nested dictionaries

In [60]:
car1_model = {'Marcedes': 1980}
car2_model = {'Audi': 1970}
car3_model = {'Ambassador' : 1960}

car_type = {'car1': car1_model,'car2': car2_model,'car3': car3_model,}
print(car_type)

{'car1': {'Marcedes': 1980}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1960}}

In [61]:
#Accessing dictionaries
car_type['car1']

{'Marcedes': 1980}

In [68]:
car_type['car1']['Marcedes']

1980

In [63]:
for car in car_type:
    print(car)

car1
car2
car3

In [65]:
for car_model in car_type.values():
    print(car_model)

{'Marcedes': 1980}
{'Audi': 1970}
{'Ambassador': 1960}

In [67]:
for cars_model in car_type.items():
    print(cars_model)

('car1', {'Marcedes': 1980})
('car2', {'Audi': 1970})
('car3', {'Ambassador': 1960})

In [7]:
family1 ={'narayan': 1967}
family2 ={'gopal': 1972}
family3 ={'rajan': 1985}

In [9]:
families = {'doctorFamily':family1, 'farmarFamily':family2, 'armyFamily':family3}
families

{'doctorFamily': {'narayan': 1967},
 'farmarFamily': {'gopal': 1972},
 'armyFamily': {'rajan': 1985}}

# Tuple ()
## work as constant we can change the tuple but we can't change the element of tuple

In [69]:
tup = ()
type(tup)

tuple

In [70]:
type(tuple())

tuple

In [72]:
my_tuple= ('tom','chris','tony')
my_tuple

('tom', 'chris', 'tony')

In [78]:
my_tuple = ('elizabeth','natasha','natasha')
my_tuple

('elizabeth', 'natasha', 'natasha')

In [74]:
#accessing
my_tuple.index('natasha')
my_tuple[0]

1

In [76]:
# we can't do that
# my_tuple[0] = 'zendaya'

In [79]:
my_tuple.count('natasha')

2

In [81]:
for celeb in my_tuple:
    print(celeb)

elizabeth
natasha
natasha